<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>ДЛЯ АДМИНА</title>
	<link rel="stylesheet" href="/css/styleAdmin.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
	<div class="header__container">
		<div class="header-top">
			<div class="header-top__items">
				<div class="top__item">
					<div class="linkvk">
						<a href="">
							<img class="imgvk" src="/img/vk.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="linktg">
						<a href="">
							<img class="imgtg" src="/img/tg.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="numberbackg">
						<div class="number">+7 (999) 99-99</div>
					</div>
				</div>
				<div class="item__write">
					<div class="writebackg">
						<a href="" class="write">напишите нам</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-bottom__items">
				<div class="bottom__item">
					<a class="nav" th:href="@{/home}">ГЛАВНАЯ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" th:href="@{/catalog}">КАТАЛОГ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">ОТЗЫВЫ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВОСТИ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВИНКИ</a>
				</div>

				<div class="bottom-img__item">
					<div class="imgnav" th:if="${userAuth == null}">
						<a th:href="@{/auth/login}">
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav" th:if="${userAuth != null}">
						<a th:href="@{/account}"> <!--поменять на адрес профиля-->
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/favorites}">
							<img class="navimg" src="/img/favourites.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/cart}">
							<img class="navimg" src="/img/cart.svg" alt="">
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</header>

	<div class="content">
		<div class="content__container">
			<div class="adminpage">
				<div class="backgtitle">
					<div class="page__title">Все пользователи:</div>
				</div>

				<div class="backgtable">
					<table class="table" >
						<tbody>
							<tr>
								<td>РОЛЬ</td>
								<td>ЛОГИН</td>
								<td>ИМЯ</td>
								<td>ФАМИЛИЯ</td>
								<td>ПОЧТА</td>
								<td>ТЕЛЕФОН</td>
								<td>ИЗМЕНИТЬ РОЛЬ</td>
							</tr>
							<tr th:each="user : ${users}">
								<td th:text="${user.role.displayValue}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.name}"></td>
								<td th:text="${user.surname}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.phone}"></td>
								<td>
									<form th:method="GET" th:action="@{/admin/user/{id}/edit(id=${user.getId()})}">
									<button type="submit" class="btn">
										<div class="btntext">ИЗМЕНИТЬ РОЛЬ</div>
									</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>







		</div>
	</div>











	<!-- <footer class="footer">
		<div class="footer__container">

		</div>

	</footer> -->
</body>

</html>