<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>Mizi JHDtoys: КАТАЛОГ</title>
	<link rel="stylesheet" href="/css/catalog.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
	<div class="header__container">
		<div class="header-top">
			<div class="header-top__items">
				<div class="top__item">
					<div class="linkvk">
						<a href="">
							<img class="imgvk" src="/img/vk.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="linktg">
						<a href="">
							<img class="imgtg" src="/img/tg.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="numberbackg">
						<div class="number">+7 (999) 99-99</div>
					</div>
				</div>
				<div class="item__write">
					<div class="writebackg">
						<a href="" class="write">напишите нам</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-bottom__items">
				<div class="bottom__item">
					<a class="nav" th:href="@{/home}">ГЛАВНАЯ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" th:href="@{/catalog}">КАТАЛОГ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">ОТЗЫВЫ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВОСТИ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВИНКИ</a>
				</div>

				<div class="bottom-img__item">
					<div class="imgnav" th:if="${userAuth == null}">
						<a th:href="@{/auth/login}">
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav" th:if="${userAuth != null}">
						<a th:href="@{/account}"> <!--поменять на адрес профиля-->
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/favorites}">
							<img class="navimg" src="/img/favourites.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/cart}">
							<img class="navimg" src="/img/cart.svg" alt="">
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</header>
	<div class="content">
		<div class="content__container">
			<div class="catalog">
				<div class="catalog__title">КАТАЛОГ</div>
				<div class="catalog__columns">
					<div class="columns" >
						<div class="columns__item" th:each="product : ${products}">
							<div class="item__product">
								<div class="img__item">
									<img class="product__img" th:src="@{'data:image/jpeg;base64,'+${product.getImage().generateBase64Image()}}" height="100%"/>
								</div>
								<div class="description" >
									<div class="description__title" th:text="${product.name}">name</div>
									<div class="description__price" th:text="${product.price + '₽'}">price</div>
									<div class="description__btn">
										<a th:href="@{/catalog/product/{id}(id=${product.getId()})}" class="btndesc">ПОДРОБНЕЕ О ТОВАРЕ</a>
										<form th:method="POST" th:action="@{/add/{id}(id=${product.getId()})}">
											<input type="submit" class="btndesc" value="ДОБАВИТЬ В КОРЗИНУ">
										</form>
										<form th:method="POST" th:action="@{/add/{id}(id=${product.getId()})}">
											<input type="submit" class="btndesc" value="В ИЗБРАННОЕ">
										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div th:if="${products.getTotalPages() > 0}" class="pagination"
						 th:each="pageNumber : ${pageNumbers}">
						<a th:href="@{/catalog(size=${products.size}, page=${pageNumber})}"
						   th:text="${pageNumber}"
						   th:class="${pageNumber==products.number + 1} ? active">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>




	<footer class="footer">
		<div class="footer__container">
		</div>
	</footer>
</body>

</html>