<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>Mizi JHDtoys: корзина</title>
	<link rel="stylesheet" href="/css/cart.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
	<div class="header__container">
		<div class="header-top">
			<div class="header-top__items">
				<div class="top__item">
					<div class="linkvk">
						<a href="https://vk.com/mizi_official">
							<img class="imgvk" src="/img/vk.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="linktg">
						<a href="https://t.me/Phicen_ru_tm">
							<img class="imgtg" src="/img/tg.svg" alt="vk">
						</a>
					</div>
				</div>
				<div class="top__item">
					<div class="numberbackg">
						<div class="number">+7 (995) 966-19-24</div>
					</div>
				</div>
				<div class="item__write">
					<div class="writebackg">
						<a href="" class="write">напишите нам</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-bottom__items">
				<div class="bottom__item">
					<a class="nav" th:href="@{/home}">ГЛАВНАЯ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" th:href="@{/catalog}">КАТАЛОГ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">ОТЗЫВЫ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВОСТИ</a>
				</div>
				<div class="bottom__item">
					<a class="nav" href="">НОВИНКИ</a>
				</div>

				<div class="bottom-img__item">
					<div class="imgnav" th:if="${userAuth == null}">
						<a th:href="@{/auth/login}">
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav" th:if="${userAuth != null}">
						<a th:href="@{/account/{id}(id=${userAuth.getId()})}"> <!--поменять на адрес профиля-->
							<img class="navimg" src="/img/account.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/wishlist}">
							<img class="navimg" src="/img/favourites.svg" alt="">
						</a>
					</div>
					<div class="imgnav">
						<a th:href="@{/cart}">
							<img class="navimg" src="/img/cart.svg" alt="">
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</header>
	<div class="content">
		<div class="content__container">
			<div class="cart">
				<div class="cart__title">КОРЗИНА</div>
				<div class="columns__item">
					<div class="item__product" th:each="product : ${cart.products}">
						<div class="img__item">
							<img class="product__img" th:src="@{'data:image/jpeg;base64,'+${product.getImage().generateBase64Image()}}" alt="">
						</div>
						<div class="description">
							<div class="description__title" th:text="${product.name}">name</div>
							<div class="description__price" th:text="${product.price + ' ₽'}">price</div>
						</div>
						<div class="cross">
							<div class="x">
								<form th:method="DELETE" th:action="@{/deleteCart/{id}(id=${product.getId()})}">
									<input class="inputx" type="submit" value="x">
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sum">
				<div class="sum__total">ИТОГО:
					<span class="total" th:text="${cart.getTotalPrice() + ' ₽'}">total price</span>
				</div>
			</div>
			<div class="order">
				<a th:href="@{/order}" class="placeanorder__btn">ОФОРМИТЬ ЗАКАЗ</a>
			</div>
		</div>
	</div>
</body>

</html>